@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importando a fonte personalizada */
@font-face {
    font-family: 'Khyay';
    src: url('/src/fonts/Khyay-Regular.ttf') format('truetype');
}

/* Aplicando a fonte personalizada globalmente */
.Ky{
    font-family: 'Khyay', sans-serif;
}

body{
    background-color: black;
    color: white;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-button {
    background: transparent;
    width: 1px;
}

::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ffffff99;
    /* Cor do rastreamento quando o mouse está sobre ele */
    border-radius: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #ffffff;
    /* Cor da barra de rolagem quando não está ativa */
}
